* {
  margin: 0;
}
.addTask {
  width: 30px;
  height: 20px;
  background-color: #00a300;
}
.body {
  background-color: #101010;
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
}
.header {
  width: 85vw;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.headerDot {
  height: 12px;
  width: 12px;
  border-radius: 50px;
  background-color: #00a300;
}
.headerP {
  width: 80%;
  color: #ffffff;
  font-size: 18px;
  padding-top: 0;
}
.headerNumber {
  font-size: 12px;
  color: #999999;
}
